<!DOCTYPE html>
<html lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
    <link href="../static/css/slowappear.css"
          th:href="@{/css/slowappear.css}" rel="stylesheet" media="screen"/>
    <title>Time Manager | Dashboard</title>
</head>
<body>
    <div class="centered-text">
        <h2>Hello, <span th:text="${name}">username</span></h2>
    </div>
    <div class="out">
        <a th:href="@{/dashboard/new}" style="text-decoration:none; "><button type="submit" class="menubut btn btn-primary btn-block btn-large">New</button></a>
        <a th:href="@{/deleteAll}" style="text-decoration:none; "><button type="submit" class="menubut btn btn-primary btn-block btn-large">Delete All</button></a>
        <a th:href="@{/logout}" style="text-decoration:none; "><button type="submit" class="menubut btn btn-primary btn-block btn-large">Logout</button></a>
    </div>
    <div th:if="${not #lists.isEmpty(tasks)}">
        <div class="out">
            <output class="header" style="text-align: center; background: #696969;"><b>Header</b></output>
            <output class="description" style="text-align: center; background: #696969; width: 45%;"><b>Description</b></output>
            <output class="date" style="text-align: center; background: #696969;"><b>Date</b></output>
            <output class="completed" style="text-align: center; background: #696969; padding-left: 7px;"><b>Done</b></output>
        </div>
        <div class="out" th:each="task: ${tasks}">
            <output class="header" th:text="${task.header}">header</output>
            <output class="description" style="width: 45%;" th:text="${task.description}">description</output>
            <output class="date" th:text="${#dates.format(task.date, 'dd-MMM-yyyy')}">date</output>
            <output class="completed" th:text="${task.completed}">completed</output>
            <a href="#" th:href="${'/dashboard/done/' + task.id}" style="text-decoration:none; ">
                <button type="submit" class="editbut btn btn-primary btn-block btn-large">
                    <span th:if="${not task.completed}">Done</span>
                    <span th:if="${task.completed}">Undo</span>
                </button>
            </a>
            <a href="#" th:href="${'/dashboard/edit/' + task.id}" style="text-decoration:none; ">
                <button type="submit" class="editbut btn btn-primary btn-block btn-large">Edit</button>
            </a>
            <a href="#" th:href="${'/dashboard/delete/' + task.id}" style="text-decoration:none; ">
                <button type="submit" class="editbut btn btn-primary btn-block btn-large">Delete</button>
            </a>
        </div>
    </div>
    <div class="centered-text" th:if="${#lists.isEmpty(tasks)}">
        <h2>You have no tasks now</h2>
    </div>
</body>
</html>